@font-face {
    font-family: 'Minecraft';
    src: url('MinecraftRegular-Bmg3.woff2');
}

:root {
    font-family: 'Minecraft';
    background-image: url('./page_bgr.png');
    color: #02b0eb;
}

body {
    padding: 0px;
    margin: 0px auto;
    background-color: #121222;
    max-width: 900px;
}

header, #gameContainer {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    font-family: 'Minecraft';
}

#gameCanvas:fullscreen {
    border: 0px;
    border-radius: 0px;
    image-rendering: pixelated;
}

#gameCanvas {
    border: 2px solid #ff0276;
    align-self: center;
    align-items: center;
    image-rendering: pixelated;
    margin: 2px;
}

li {
    color: #ff0276;
}

ul {
    list-style-position: inside;
}

h1 {
    font-size: 40px;
    text-shadow: 3px 3px 0px #ff0276;
}

p {
    margin-left: 40px;
    color: #ff0276;
}

.text {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    padding-bottom: 40px;
}

footer p {
    color: #02b0eb;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.divider {
    background-color: white;
    height: 1px;
}

.logo {
    max-height: 25px;
    border: 2px solid #ff0276;
    padding: 5px;
    margin: 5px;
}

#logos {
    display: flex;
    justify-content: center;
}