:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

header, footer, main, #gameContainer {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: steelblue;
    text-align: center;
}

main {
    max-height: 500;
}

#gameCanvas {
    /* border: 2px solid steelblue;
    border-radius: 10px; */
}